/*.table-data{
    background-color: rgb(233, 173, 94) !important;
}*/

/* table.css */

@media screen {
  

/* Style for the table header row */
.table-header {
    background-color: #333;
    color: white;
  }
  
  /* Style for table data rows */
  .table-data {
    background-color:#f4b92f;
  }
  
  /* Style for buttons inside table rows */
  .table-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Style for the delete button */
  .bttn {
    background-color: #625959;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  
    /* Add rounded corners */
    border-radius: 5px;
  }

  .bttn:hover {
    background-color: rgb(159, 156, 151);
  }
  
  /* Adjust the spacing between columns */
  table.flex {
    border-collapse: collapse;
    width: 100%;
    
  }
  
  table.flex th,
  table.flex td {
    padding: 10px; /* Adjust the padding as needed */
    text-align: left;
  }
  
  /* Add space between columns (cell spacing) */
  table.flex td + td {
    /* Adjust the margin-right to create space between columns */
    margin-right: 10px; /* You can change this value to suit your spacing needs */
  }
  
  .m-data:hover{
    background-color:  #ebe4e4;
  }

}