/* GenerateLabel.css */

 /*{
    background-color: antiquewhite;
  }*/
  
 /*
  .align-Table {
    margin-left: 8%;
  }
  
  .input-label {
    display: inline-block;
    width: 200px;
    margin-left: 40px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-align: left;
  }
  
  .GenLabel {
    margin-left: 25%;
    margin-bottom: 607px;
    background-color: transparent;
  }
  
  .textGENERATE {
    margin-bottom: 96px;
  }
  
  .labelIMG {
    height: 350%;
    width: auto;
    margin-top: -77px;
  }
  
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: -80px;
    margin-top: 50px;
  }
  
  form {
    background-color: white;
    height: 200px;
    width: 500px;
    margin-left: 18%;
  }
  
  .customer {
    background-color: white;
    height: 280px;
    width: 500px;
    margin-left: 18%;
  }
  
  .customTEXT {
    margin-left: -120px;
  }
  
  .orderTEXT {
    margin-left: -170px;
  }
  
  .safeTEXT {
    margin-left: -20px;
  }
  
  textarea {
    margin-top: 10px;
  }
  
  .QR {
    margin-left: 75px;
    margin-top: 25px;
    width: 230px;
  }
  
  .QRbutton {
    border-radius: 10px;
    border-width: 0px;
    background-color: yellow;
    font-size: 15px;
    width: 45%;
    margin-left: 80px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Generator {
    margin-top: 20px;
  }
  
  .printouts {
    margin-top: 149px;
    margin-left: -379px;
    height: 150px;
    width: 495px;
  }
  
  .company {
    height: 200px;
    margin-left: 25%;
  }
  
  footer {
    height: 50px;
    width: 67%;
    background-color: aliceblue;
    margin-left: 15%;
    margin-top: 5%;
  }
  .label-tr:hover{
    background-color: non;
  }*/

  /* Labeling.css */

/* Common styles */

@media screen {
  

.input-label {
  display: inline-block;
  width: 200px;
  margin-left: 40px;
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
  text-align: left;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust the styles for smaller screens here */
  .label-tr {
    display: block;
    margin-bottom: 20px;
  }

  .table-header,
  .table-data {
    background-color: transparent;
  }

  table.align-Table {
    margin-left: 0;
    width: 100%;
  }

  th {
    text-align: center;
  }

  .input-label {
    width: 100%;
    margin: 5px 0;
    text-align: left;
  }

  .GenLabel {
    margin-left: 0;
  }

  .labelIMG {
    display: block;
    margin: 0 auto;
  }

  h2 {
    text-align: center;
  }

  form {
    width: 100%;
    margin-left: 0;
  }
}

.label-div{
  background-color: #ffffff;
  width: 800px;
  height: auto;
  margin-left: 325px; 
  border: 1px solid black;
  
}
.label-div:hover{
  background-color: #ebe7e7;
}
}