@media screen {
  

.search-input{
    margin-left: 45%;
    width: 40%;
    height: auto;
    margin-right: 15px;
    
  }
  .search-bttn{
    background-color: #625959;
    color: white;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    
  
    /* Add rounded corners */
    border-radius: 5px;
  }

  .search-bttn:hover {
    background-color: rgb(159, 156, 151);
  }
  
}